{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
  <style media="screen">
    .at{
      display: none;
    }
  </style>
{% endblock %}
{% block appBody %}
  <section class="content-header">
    <h4>
      <i class="fa fa-user"></i>
      CONFIRMACIONES
      <small>Ordenes</small>
    </h4>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <section class="content">
            <div class="row">
              <div class="col-md-12">
                <form id="formordenes" name="formordenes">
                  <table id="dataordenes" name="dataordenes" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Numero Orden</th>
                        <th>Operador</th>
                        <th>Reg</th>
                        <th>Rut Cliente</th>
                        <th>Fecha Compromiso</th>
                        <th>Bloque</th>
                        <th>Motivo</th>
                        <th>Comuna</th>
                        <th>Actividad</th>
                        <th>Resultado</th>
                        <th>Observacion</th>
                        <th>Funciones</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% set No = 1 %}
                      {% for t in db_todas if false != db_todas %}
                        <tr>
                          <td>{{ t.n_orden|raw|title }}</td>
                          <td>{{t.name}}</td>
                          <td>{{ t.reg }}</td>
                          <td>{{ t.rut_cliente  }}</td>
                          <td>{{ t.fecha_compromiso }}</td>
                          <td>{{t.bloque}}</td>
                          <td>{{t.motivo}}</td>
                          <td>{{t.comuna}}</td>
                          <td>{{t.actividad}}</td>
                          <td>{{t.nombre}}</td>
                          <td>{{t.observacion}}</td>
                          <td>
                              <a data-toggle='tooltip' data-placement='top' id="btnmodificar" name="btnmodificar" title='Modificar' class='btn btn-warning btn-sm' href="confirmacion/editar_confirmacion/{{t.n_orden}}">
                                <i class='glyphicon glyphicon-edit'></i>
                              </a>
                              <a data-placement='top' name="btnlisteliminar" id="btnlisteliminar" title="Eliminar" onclick="asignardato({{t.id_orden}})" class='btn btn-danger btn-sm'>
                              <i class='glyphicon glyphicon-remove'></i>
                              </a>
                          {% set No = No + 1 %}
                        {% endfor %}
                      </td>
                      <input type="text" class="at" name="textlisteliminar" id="textlisteliminar">
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block appScript %}

  <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

  <script src="views/app/js/confirmacion/confirmacion.js"></script>

  <script>

    $("#dataordenes").dataTable({
      "language": {
        "search": "Buscar:",
        "zeroRecords": "No hay datos para mostrar",
        "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "infoEmpty": "No hay entradas para mostrar",
        "lengthMenu": "Mostrar _MENU_ Filas",
        "paginate": {
          "first": "Primera",
          "last": "Ultima",
          "next": "Siguiente",
          "previous": "Anterior"
        }
      },
      "autoWidth": true
    });
  </script>
{% endblock %}
